<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <?include Definitions.wxi ?>

	<Bundle Name="VMIdentityToolsPrerequisite"  
          Version="$(var.VersionNumber)"
          Manufacturer="$(var.Manufacturer)"
          UpgradeCode="$(var.UpgradeCode)">
    
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" >
      <bal:WixStandardBootstrapperApplication
        LicenseFile="$(var.Resources)/LicenseAgreement.rtf" 
        SuppressOptionsUI="yes"/>
    </BootstrapperApplicationRef>
    
    <Chain>
			<!-- TODO: Define the list of chained packages. -->
      <MsiPackage SourceFile="$(var.MSIPath)\vmware-cyrus-sasl.msi" Visible="yes" ForcePerMachine="yes"/>
      <MsiPackage SourceFile="$(var.MSIPath)\kfw.msi" Visible="yes"/>
			<MsiPackage SourceFile="$(var.MSIPath)\vmware-platform-sdk-windows.msi" Visible="yes"/>
      <MsiPackage SourceFile="$(var.MSIPath)\vmware-vmca-client-msi.msi" Visible="yes"/>
      <MsiPackage SourceFile="$(var.MSIPath)\vmware-dns-client.msi" Visible="yes"/>
      <MsiPackage SourceFile="$(var.MSIPath)\vmware-directory-client-msi.msi" Visible="yes"/>
      <MsiPackage SourceFile="$(var.MSIPath)\vmware-afd.msi" Visible="yes"/>
		</Chain>
	</Bundle>
</Wix>