
<div class="content-container">
    <div class="content-header">
        <img src="../app/assets/tenant.png"
             width="24px"
             height="24px"/> Computers & Tenants
    </div>
    <div class='error' ng-show="globals.errors && !globals.errors.success">
        <img src="../app/assets/error.png" width="16px" height="16px"/>
        <button type="button"
                class="btn btn-xs btn-link pull-right"
                ng-click="globals.errors = null;">X
        </button>
        {{globals.errors.details}} {{globals.errors.cause}}
    </div>
    <div class='success' ng-show="globals.errors && globals.errors.success">
        <img src="../app/assets/success.png" width="16px" height="16px"/>
        <button type="button"
                class="btn btn-xs btn-link pull-right"
                ng-click="globals.errors = null;">X
        </button>
        {{globals.errors.details}}
    </div>
    <div style="margin-top:5px;">

        <!-- Set of Tabs for Computers & Tenants view -->
        <uib-tabset active="active">

            <!-- Computers tab -->
            <uib-tab index="0" select="vm.getcomputers(vm.searchcomputer)" heading="Computers">
                <div class="tab-container">
                    <div style="margin-bottom:5px;">
                        <form name="form"
                              ng-submit="vm.getcomputers(vm.searchcomputer)"
                              role="form"
                              style="float:right;">
                            <input type="text"
                                   name="searchcomputer"
                                   id="searchcomputer"
                                   ng-model="vm.searchcomputer"
                                   class="search-box"
                                   placeholder="search by computer name"/>
                            <button type="submit"
                                    class="btn btn-primary btn-sm">
                                Search
                            </button>
                        </form>
                    </div>

                    <br/><br/>
                    <div class="large-grid">
                        <div class="large-grid-header">
                            <div class="large-grid-header-cell col-xs-10">
                                Name
                            </div>
                            <div class="large-grid-header-cell col-xs-2">
                                Domain Controller
                            </div>
                        </div>
                        <div class="large-grid-content">
                            <img ng-if="vm.computersdataLoading"
                                 src="../app/assets/progress.gif"
                                 style="padding:20px;"/>
                            <div ng-if="!vm.computersdataLoading && (!vm.computers || vm.computers.length == 0)"
                                 style="padding:60px;"
                                 class="row">
                                No computers found.
                            </div>
                            <div ng-repeat="computer in vm.computers"
                                 ng-if="vm.computers"
                                 tabindex="1"
                                 class="large-grid-content-row">

                                <div class="col-xs-10"
                                     uib-tooltip="{{computer.hostname}}">
                                    <img src="../app/assets/computer.png"
                                         width="16px"
                                         height="16px"
                                         ng-show="!computer.domainController"
                                         uib-tooltip="Computer"/>
                                    <img src="../app/assets/sso.png"
                                         width="16px"
                                         height="16px"
                                         ng-show="computer.domainController"
                                         uib-tooltip="Domain Controller"/>
                                   {{computer.hostname}}
                                </div>
                                <div class="col-xs-2"
                                     uib-tooltip="{{computer.hostname}}">
                                    <img src="../app/assets/enabled.png"
                                         width="16px"
                                         height="16px"
                                         ng-show="computer.domainController"
                                         uib-tooltip="Domain Controller"/>
                                    <span ng-show="!computer.domainController">
                                        --
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="large-grid-footer">
                        </div>
                    </div>
                </div>
            </uib-tab>

            <!-- Tenants tab -->
            <uib-tab index="1" select="vm.filtertenants(vm.searchtenant)" heading="Tenants">
                <div class="tab-container">
                    <div style="margin-bottom:5px;">

                        <button type="button"
                                class="btn btn-link"
                                ng-click="vm.addTenant()"
                                style="float:left;margin-left:10px;">
                            ADD
                        </button>
                        <form name="form"
                              ng-submit="vm.filtertenants(vm.searchtenant)"
                              role="form"
                              style="float:right;">
                            <input type="text"
                                   name="searchtenant"
                                   id="searchtenant"
                                   ng-model="vm.searchtenant"
                                   class="search-box"
                                   placeholder="search by tenant name"/>
                            <button type="submit"
                                    class="btn btn-primary btn-sm">
                                Search
                            </button>
                        </form>
                    </div>

                    <br/><br/>
                    <div class="large-grid">
                        <div class="large-grid-header">
                            <div class="large-grid-header-cell col-xs-8">
                                Name
                            </div>
                            <div class="large-grid-header-cell col-xs-4">
                                Username
                            </div>
                        </div>
                        <div class="large-grid-content">
                            <div ng-if="!vm.tenants || vm.tenants.length == 0"
                                 style="padding:60px;"
                                 class="row">
                                No tenants found.
                            </div>
                            <div ng-repeat="tenant in vm.tenants"
                                 ng-if="vm.tenants"
                                 tabindex="1"
                                 class="large-grid-content-row">

                                <div class="col-xs-8"
                                     uib-tooltip="{{tenant.name}}">
                                    <img src="../app/assets/tenant.png"
                                         width="16px"
                                         height="16px"
                                         style="margin-top:-10px;"/>
                                        {{tenant.name}}
                                </div>
                                <div class="col-xs-4"
                                     uib-tooltip="{{tenant.username}}">
                                    {{tenant.username}}
                                </div>
                            </div>
                        </div>
                        <div class="large-grid-footer">
                        </div>
                    </div>
                </div>


               <!-- <div class="tab-container">

                    &lt;!&ndash; Search box to search all the tenants created in this session &ndash;&gt;
                    <form name="form"
                          ng-submit="vm.filtertenants(vm.searchtenant)"
                          role="form"
                          class="text-center">
                        <input type="text"
                               name="searchtenant"
                               id="searchtenant"
                               ng-model="vm.searchtenant"
                               class="search-box-in-tab"
                               placeholder="search by tenant name"/>
                        <button type="submit"
                                class="btn btn-primary btn-xs">
                            Search
                        </button>
                        <button type="button"
                                class="btn btn-default btn-xs item-menu-button"
                                ng-click="vm.addnewtenant = false">
                            Add New Tenant
                        </button>
                    </form>
                    <div uib-collapse="vm.addnewtenant"
                         class="box row">
                        <div class="box-header">
                            Add New Tenant
                        </div>
                        <div class="box-content">
                            <form name="addtenantform"
                                  role="addtenantform"
                                  ng-submit="vm.addtenant(vm.newtenant)">
                                <div class="section-help">
                                    Fill out the form and click Save to add a new tenant<br/><br/>
                                </div>
                                <div class="form-group col-xs-12 pull-left">
                                    <div class="col-xs-2">
                                        <label class="control-label pull-right" for="newtenant.name">Name</label>
                                    </div>
                                    <div class="col-xs-4"
                                         ng-class="{ 'has-error': addtenantform.name.$dirty && addtenantform.name.$error }">
                                        <input type="text"
                                               id="newtenant.name"
                                               name="newtenantname"
                                               ng-model="vm.newtenant.name"
                                               class="form-control input-xs pull-left"
                                               placeholder="contoso"/>
                                    </div>
                                    <div class="col-xs-2">
                                    </div>
                                    <div class="col-xs-4">
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 pull-left">
                                    <div class="col-xs-2">
                                        <label class="control-label pull-right" for="newtenant.name">Username</label>
                                    </div>
                                    <div class="col-xs-4"
                                         ng-class="{ 'has-error': addtenantform.username.$dirty && addtenantform.username.$error }">
                                        <input type="text"
                                               id="newtenant.username"
                                               name="newtenantusername"
                                               ng-model="vm.newtenant.username"
                                               class="form-control input-xs pull-left"
                                               placeholder="username"/>
                                    </div>
                                    <div class="col-xs-2">
                                        <label class="control-label pull-right" for="newtenant.password">Password</label>
                                    </div>
                                    <div class="col-xs-4"
                                         ng-class="{ 'has-error': addtenantform.password.$dirty && addtenantform.password.$error }">
                                        <input type="password"
                                               id="newtenant.password"
                                               name="newtenantpassword"
                                               ng-model="vm.newtenant.password"
                                               class="form-control input-xs pull-left"
                                               placeholder="password"/>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 pull-left">
                                    <div class="col-xs-2">
                                        <label class="control-label pull-right" for="vm.newtenant.privateKeyFilePath">Private Key</label>
                                    </div>
                                    <div class="col-xs-4">
                                        <input type="file"
                                               on-read-file="vm.setprivatekeycontent(vm.newtenant, contents)"
                                               id="vm.newtenant.privateKeyFilePath"
                                               name="privatekeyPath"
                                               ng-model="vm.newtenant.privateKeyFilePath"/>
                                    </div>
                                    <div class="col-xs-2">
                                        <label class="control-label pull-right" for="vm.newtenant.certfilepath">Certificates</label>
                                    </div>
                                    <div class="col-xs-4">
                                        <input type="file"
                                               on-read-file="vm.setcertificatecontent(vm.newtenant, contents)"
                                               id="vm.newtenant.certfilepath" name="encodedcertfilepath"
                                               ng-model="vm.newtenant.certFilePath"/>
                                    </div>
                                </div>
                                <div class="section-help" style="float:left;">
                                    Certificate chain selected  (minimum 2 certificates required) starting with the root.
                                </div>
                                <div style="float:right;padding-right: 30px;">
                                    <strong>
                                        Total Certificates: {{vm.newtenant.credentials.certificates.length}}
                                    </strong>
                                </div>
                                <div class="form-group col-xs-12 pull-left">
                                    <div class="large-grid">
                                        <div class="large-grid-header">
                                            <div class="col-xs-3">
                                                <strong>
                                                    Subject
                                                </strong>
                                            </div>
                                            <div class="col-xs-3">
                                                <strong>
                                                    Issuer
                                                </strong>
                                            </div>
                                            <div class="col-xs-2">
                                                <strong>
                                                    Valid From
                                                </strong>
                                            </div>
                                            <div class="col-xs-2">
                                                <strong>
                                                    Valid Until
                                                </strong>
                                            </div>
                                            <div class="col-xs-2">
                                            </div>
                                        </div>
                                        <div class="large-grid-content">
                                            <div ng-repeat="certificate in vm.newtenant.credentials.certificates"
                                                 ng-show="vm.newtenant.credentials.certificates"
                                                 ng-class-odd="'large-grid-row-odd'"
                                                 ng-class-even="'large-grid-row-even'">
                                                <div class="col-xs-3"
                                                     uib-tooltip="{{certificate.metadata.subject}}">
                                                    {{
                                                    certificate.metadata.subject.length > 30 ?
                                                    certificate.metadata.subject.substring(0,30) + '...' :
                                                    certificate.metadata.subject;
                                                    }}
                                                </div>
                                                <div class="col-xs-3"
                                                     uib-tooltip="{{certificate.metadata.issuer}}">
                                                    {{
                                                    certificate.metadata.issuer.length > 30 ?
                                                    certificate.metadata.issuer.substring(0,30) + '...' :
                                                    certificate.metadata.issuer;
                                                    }}
                                                </div>
                                                <div class="col-xs-2">
                                                    {{certificate.metadata.before}}
                                                </div>
                                                <div class="col-xs-2">
                                                    <img src="../app/assets/enabled.png"
                                                         width="16px"
                                                         height="16px"
                                                         ng-show="!certificate.metadata.expired"/>
                                                    <img src="../app/assets/disabled.png"
                                                         width="16px"
                                                         height="16px"
                                                         ng-show="certificate.metadata.expired"/>
                                                    {{certificate.metadata.after}}
                                                </div>
                                                <div class="col-xs-2">
                                                    <form name="viewcertificateform"
                                                          ng-submit="viewcertificate(certificate.encoded)"
                                                          role="viewcertificateform"
                                                          class="text-left" style="float:left;padding-right:5px;">
                                                        <button class="btn btn-xs btn-success" type="submit"
                                                                uib-tooltip="View Certificate">
                                                            View
                                                        </button>
                                                    </form>
                                                    <form name="removecertificateform"
                                                          ng-submit="removecertificate(vm.newtenant.credentials.certificates, certificate)"
                                                          role="removecertificateform"
                                                          class="text-left" style="float:left;padding-right:5px;">
                                                        <button class="btn btn-xs btn-danger"
                                                                type="submit"
                                                                uib-tooltip="Remove Certificate">
                                                            Remove
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br/><br/>
                                <div class="form-group col-xs-12">
                                    <div class="col-xs-3 col-xs-offset-3">
                                        <form name="addtenantform"
                                              ng-submit="vm.addtenant(vm.newtenant)"
                                              role="addtenantform"
                                              class="text-left" style="float:left;padding-right:5px;">
                                            <button type="submit" class="btn btn-primary btn-xs">Save</button>
                                        </form>
                                        <button type="button" class="btn btn-default btn-xs"
                                                ng-click="vm.newtenant = { credentials: { certificates: [], privateKey:{}}};vm.addnewtenant = true;">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    &lt;!&ndash; Total Tenants header &ndash;&gt;
                    <div style="bottom:0px; height:20px;">
                        <div ng-if="vm.filteredtenants"
                             class="text-right total-members">
                            Total Tenants created in this session: {{vm.filteredtenants.length}}
                        </div>
                    </div>

                    &lt;!&ndash; List all the tenants created in this session &ndash;&gt;
                    <uib-accordion close-others="true">
                        <uib-accordion-group ng-repeat="tenant in vm.filteredtenants" ng-if="vm.filteredtenants">
                            <uib-accordion-heading>
                                <div>
                                    <img src="../app/assets/tenant.png"
                                         width="16px"
                                         height="16px"/>
                                    <small>
                                        {{tenant.name}}
                                    </small>
                                </div>
                            </uib-accordion-heading>
                            <div class="large-grid">
                                <div class="large-grid-header">
                                    <div class="col-xs-3">
                                        <strong>
                                            Subject
                                        </strong>
                                    </div>
                                    <div class="col-xs-3">
                                        <strong>
                                            Issuer
                                        </strong>
                                    </div>
                                    <div class="col-xs-2">
                                        <strong>
                                            Valid From
                                        </strong>
                                    </div>
                                    <div class="col-xs-2">
                                        <strong>
                                            Valid Until
                                        </strong>
                                    </div>
                                    <div class="col-xs-2">
                                    </div>
                                </div>
                                <div class="large-grid-content">
                                    <div ng-repeat="certificate in tenant.credentials.certificates"
                                         ng-show="tenant.credentials.certificates"
                                         ng-class-odd="'large-grid-row-odd'"
                                         ng-class-even="'large-grid-row-even'">
                                        <div class="col-xs-3"
                                             uib-tooltip="{{certificate.metadata.subject}}">
                                            {{
                                            certificate.metadata.subject.length > 30 ?
                                            certificate.metadata.subject.substring(0,30) + '...' :
                                            certificate.metadata.subject;
                                            }}
                                        </div>
                                        <div class="col-xs-3"
                                             uib-tooltip="{{certificate.metadata.issuer}}">
                                            {{
                                            certificate.metadata.issuer.length > 30 ?
                                            certificate.metadata.issuer.substring(0,30) + '...' :
                                            certificate.metadata.issuer;
                                            }}
                                        </div>
                                        <div class="col-xs-2">
                                            {{certificate.metadata.before}}
                                        </div>
                                        <div class="col-xs-2">
                                            <img src="../app/assets/enabled.png"
                                                 width="16px"
                                                 height="16px"
                                                 ng-show="!certificate.metadata.expired"/>
                                            <img src="../app/assets/disabled.png"
                                                 width="16px"
                                                 height="16px"
                                                 ng-show="certificate.metadata.expired"/>
                                            {{certificate.metadata.after}}
                                        </div>
                                        <div class="col-xs-2">
                                            <form name="viewcertificateform" ng-submit="viewcertificate(certificate.encoded)"
                                                  role="viewcertificateform" class="text-left">
                                                <button class="btn btn-xs btn-success" type="submit"
                                                        uib-tooltip="View Certificate">
                                                    View
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="form-group col-xs-12 pull-left">
                                <div class="col-xs-2">
                                    <label class="control-label pull-right" for="tenant.username">Username</label>
                                </div>
                                <div class="col-xs-4">
                                    <input type="text"
                                           id="tenant.username"
                                           name="tenantusername"
                                           ng-model="tenant.username"
                                           class="form-control input-xs pull-left"
                                           placeholder="username"
                                           readonly="readonly"/>
                                </div>
                                <div class="col-xs-2">
                                    <label class="control-label pull-right" for="tenant.pkey">Private Key</label>
                                </div>
                                <div class="col-xs-4">
                                    <textarea id="tenant.pkey"
                                              name="tenantpkey"
                                              ng-model="tenant.credentials.privateKey.encoded"
                                              class="form-control input-xs pull-left"
                                              readonly="readonly" style="resize: none;height: 200px;overflow-y: scroll">
                                    </textarea>
                                </div>
                            </div>
                        </uib-accordion-group>
                        <div ng-if="!vm.filteredtenants || vm.filteredtenants.length == 0" style="padding:60px;" class="row">
                            No tenants found.
                        </div>
                    </uib-accordion>
                </div>-->
            </uib-tab>
    </div>
</div>