[Unit]
Description=Lightwave Configure Guest Properties

[Service]
Type=oneshot
ExecStart=/etc/photon/configure-guest.sh
ExecStop=
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
