<?xml version="1.0"?>
<Context>
    <!-- Default set of monitored resources -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <!-- Uncomment this to disable session persistence across Tomcat restarts -->
    <!--
            <Manager pathname="" />
            -->
    <!-- Uncomment this to enable Comet connection tacking (provides events
                 on session expiration as well as webapp lifecycle) -->
    <!--
            <Valve className="org.apache.catalina.valves.CometConnectionManagerValve" />
            -->
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>
    <JarScanner scanClassPath="false" />
    <Resources cachingAllowed="true" cacheMaxSize="100000" />

</Context>
