<div class="popup-container">
    <div class="header-20px">
            View Certificate
    </div>
    <div class="row content popup-content">
        <div class="popup-row col-sm-12">
            <div class="col-md-3">Issuer</div>
            <div class="col-md-9" uib-tooltip="{{metadata.issuer}}">
                <span style="word-wrap: break-word" ng-bind="metadata.issuer"></span>
            </div>
        </div>
        <div class="popup-row col-sm-12">
            <div class="col-sm-3">Subject</div>
            <div class="col-sm-9"  uib-tooltip="{{metadata.subject}}">
                <span style="word-wrap: break-word" ng-bind="metadata.subject"></span>
            </div>
        </div>
        <div class="popup-row col-sm-12">
            <div class="col-sm-3">Valid From</div>
            <div class="col-sm-9">{{metadata.after}}</div>
        </div>
        <div class="popup-row col-sm-12">
            <div class="col-sm-3">Valid Until</div>
            <div class="col-sm-9">
                {{metadata.before}}
                <img src="assets/enabled.png"
                     width="16px"
                     height="16px"
                     ng-show="!metadata.expired"/>
                <img src="assets/disabled.png"
                     width="16px"
                     height="16px"
                     ng-show="metadata.expired"/>
            </div>
        </div>
    </div>
</div>