vmdir/dotnet/VMDIR.Client/bin
vmdir/dotnet/VMDIR.Client/obj
vmafd/dotnet/VMAFD.Client/bin
vmafd/dotnet/VMAFD.Client/obj
tools/win/VMwareMMCIDP.UI.Common/obj
tools/mac/VMPSCHighAvailabilitySnapIn/LightwavePSCHighAvailability/obj
tools/common/VMCertStore.Common/obj/
mmc/
ls/common/VMCertStore.Common/obj/
tools/common/VMDir.Common/obj/
tools/common/VMRestSso.Common/RestSsoAdminSnapIn.Core/obj/
tools/common/VMRestSso.Common/RestSsoAdminSnapIn.Data/obj/
tools/common/VMRestSso.Common/RestSsoAdminSnapIn.Core/Web/HttpWebRequestManager.cs.bak
tools/common/VMRestSso.Common/RestSsoAdminSnapIn.Dto/obj/
tools/common/VMRestSso.Common/RestSsoAdminSnapIn.Service/obj/
tools/common/x64/
tools/interop/
tools/mac/VMCASnapIn/obj/
tools/mac/VMCertStoreSnapIn/VMCertStoreSnapIn/obj/
tools/mac/VMDirSnapIn/Lightwave Directory.userprefs
tools/mac/VMDirSnapIn/VMDirSnapIn/obj/
tools/mac/VMCertStoreSnapIn/LightwaveCertStore.userprefs
tools/mac/VMRestSsoSnapIn/VMRestSsoSnapIn/obj/
tools/mac/VmIdentity.UI.Common/obj/
tools/mac/x64/
tools/mmc/
vmdir/interop/csharp/VmDirInterop/SuperLoggingTest/bin/
vmdir/interop/csharp/VmDirInterop/VmDirInterop.userprefs
vmdir/interop/csharp/VmDirInterop/VmDirInterop/bin/
