<div class="popup-container">
    <div class="header-20px">
        View Attribute Consumer Service'{{
        vm.selectedAttributeConsumerService.name.length > 25 ?
        vm.selectedAttributeConsumerService.name.substring(0,25) + '...' :
        vm.selectedAttributeConsumerService.name;
        }}'
    </div>
    <div class='error' ng-show="globals.popup_errors && !globals.popup_errors.success">
        <img src="../app/assets/error.png" width="16px" height="16px"/>
        <button type="button"
                class="btn btn-xs btn-link pull-right"
                ng-click="globals.popup_errors = null;">X
        </button>
        {{globals.popup_errors.details}} {{globals.popup_errors.cause}}
    </div>
    <div class='success' ng-show="globals.popup_errors && globals.popup_errors.success">
        <img src="../app/assets/success.png" width="16px" height="16px"/>
        <button type="button"
                class="btn btn-xs btn-link pull-right"
                ng-click="globals.popup_errors = null;">X
        </button>
        {{globals.popup_errors.details}}
    </div>
    <div class="row">
        <div class="row content popup-content">
            <div class="popup-row col-xs-12">
                <div class="col-xs-4">
                    Name
                </div>
                <div class="col-xs-8">
                    {{vm.selectedAttributeConsumerService.name}}
                </div>
            </div>
            <div class="popup-row col-xs-12">
                <div class="col-xs-4">
                    Index
                </div>
                <div class="col-xs-8">
                    {{vm.selectedAttributeConsumerService.index}}
                </div>
            </div>
            <div class="popup-row col-xs-12">
                <div class="col-xs-4">
                    Default
                </div>
                <div class="col-xs-8">
                    <img src="assets/enabled.png"
                         width="16px"
                         height="16px"
                         ng-show="vm.selectedRelyingParty.defaultAttributeConsumerService == vm.selectedAttributeConsumerService.name"/>
                    <img src="assets/disabled.png"
                         width="16px"
                         height="16px"
                         ng-show="vm.selectedRelyingParty.defaultAttributeConsumerService != vm.selectedAttributeConsumerService.name"/>
                </div>
            </div>
            <div class="popup-row col-xs-12">
                <div class="col-xs-4">
                    Attributes
                </div>
                <div class="col-xs-8">
                    <div ng-if="!vm.selectedAttributeConsumerService.attributes || (vm.selectedAttributeConsumerService.attributes.length == 0)">
                        No attributes found.
                    </div>
                    <div ng-repeat="attribute in vm.selectedAttributeConsumerService.attributes"
                         ng-if="vm.selectedAttributeConsumerService.attributes && vm.selectedAttributeConsumerService.attributes.length > 0">
                        <strong>{{attribute.friendlyName}}</strong><br/> {{attribute.name}} - {{attribute.nameFormat}}
                        <br/>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-row col-xs-12">
            <button type="button"
                    class="btn btn-default pull-right btn-popup-footer"
                    ng-click="closeThisDialog('cancel')">Close</button>
        </div>
    </div>
</div>