@charset "utf-8";
/* CSS Document chooseidp_genaric.css. style sheet for non-VC login.  */

.base-app-style {
   min-width: 1024px;
   min-height: 612px;
   position: relative;
   height: 100%;
   width: 100%;
}

body {  /*specify a transparent nutual color background so frame embedding will work well*/
        background: rgb(100, 100, 100) transparent; /* old browsers */
        background: rgba(100, 100, 100, 0.2); /* modern browsers */
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#33FFFFFF); /* IE 6/7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#33FFFFFF)"; /* IE8 */

        background-repeat:no-repeat;
        margin: 0;
        font-size:12px;
        font-family:Arial, Helvetica, sans-serif;
        color: black;
}

#tenantBrand {
   position: absolute;
        top: 150px;
        /*width: 800px;*/
        left: 44px;
   font-family: "Gotham", sans-serif,Arial, Helvetica;
   font-size:24px;
    color: #000000;
}

.browser-validation-banner {
   padding: 6px 12px 6px 10px;
   margin: 0px;
   position: absolute;
   line-height: 20px;
   top: 0px;
   left: 0px;
   right: 0px;
   z-index: 100;
   background-color: #ffffcc;
   border: 1px solid #efe69b;
   border-top-style: none;
   border-radius: 0 0 5px 5px;
   color: #333333;
   box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
}

.validation-message-text {
   margin-left: 25px;
   display: block;
   font-weight: bold;
   font-size: 11px;
}

.button {
   display: inline-block;
   zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
   *display: inline;
   vertical-align: baseline;
   margin: 0 2px;
   outline: none;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   padding: 0px 30px;
   height:24px;
   font-size:12px;
}
.button:hover {
   text-decoration: none;
}
.button:active {
   position: relative;
   top: 1px;
}

.blue {
   color: #fff;
   border: solid 2px #1d4772;
   background: #0095cd;
   background: -webkit-gradient(linear, left top, left bottom, from(#0c6fb9), to(#014781));
   background: -moz-linear-gradient(top,  #0c6fb9,  #014781);
   filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c6fb9', endColorstr='#014781');
}
.blue:hover {
   background: #007ead;
   background: -webkit-gradient(linear, left top, left bottom, from(#0d84dc), to(#004d88));
   background: -moz-linear-gradient(top,  #0d84dc,  #004d88);
   filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d84dc', endColorstr='#004d88');
}
.blue:active {
   color: #fff;
   background: -webkit-gradient(linear, left top, left bottom, from(#035a9d), to(#086fba));
   background: -moz-linear-gradient(top,  #035a9d,  #086fba);
   filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#035a9d', endColorstr='#086fba');
}

#chooseIDPForm {
   position: absolute;
   top: 250px;
   left: 44px;
   z-index:2;
   width: 200px;
   font-size:15px;
}

#pageTitle {
   position: absolute;
   top: 155px;
   left: 44px;
   z-index:2;
   color:#FFF;
   font-size:40px;
}

#response {
   background:url(../../resources/img/error.png) left center no-repeat;
   position: absolute;
   top: 175px;
   left: 44px;
   z-index:2;
   font-size: 12.5px;
   color: #87CEFF;
}

.info-icon {
   display: inline-block;
   width: 16px;
   height: 16px;
   line-height: 16px;
   vertical-align: middle;
   background-repeat: no-repeat;
   margin: 0px 4px 0;
   position: relative;
   background-image: url(../../resources/img/infoOver.png);
   cursor: pointer;
}