@charset "utf-8";
/* CSS Document Login_genaric.css. style sheet for non-VC login.  */

.base-app-style {
   min-width: 1024px;
   min-height: 612px;
   position: relative;
   height: 100%;
   width: 100%;
}

body {  /*specify a transparent nutual color background so frame embedding will work well*/
        background: rgb(100, 100, 100) transparent; /* old browsers */
        background: rgba(100, 100, 100, 0.2); /* modern browsers */
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#33FFFFFF); /* IE 6/7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#33FFFFFF)"; /* IE8 */

        background-repeat:no-repeat;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        margin: 0;
        height: auto;
        font-size: 14px;
        color: #565656;
        background: #fff;
}

input [type=checkbox] {
 border: 1px solid black;
}


#tenantBrand {
   position: absolute;
   top: 200px;
   left: 96px;
   font-size: 32px;
   line-height: 36px;
   margin-top: 24px;
   font-weight: 200;
   color: black;
}

#loginForm {
   width: 312px;
   position: relative;
   margin-left:96px;
   top:308px;
   margin-top:40px;
}

.margeTextInput {
   width:90%;
   display: block;
   height: 24px;
   padding: 0px 6px;
   font-size: 14px;
   line-height: 1.42857143;
   color: #555;
   background-color: #fff;
   background-image: none;
   border-bottom: 1px solid #ccc;
   border-top:0px;
   border-left:0px;
   border-right:0px;
}

.loginLabel {
   text-align:left;
   display:block;
   padding-top:4px;
   float:left;
   display:none;
}

.loginRow {
   display:block;
   width:100%;
}

#sessionID {
   clear:both;
   width:100%;
   text-align:left;
   margin-top:12px;
}

#smartcardID {
   clear:both;
   text-align:left;
   margin-top:12px;
   width:100%;
}

#logonBannerID {
   clear: both;
   float:right;
   width:248px;
   text-align:left;
   margin-top:2px;
}

#logonBannerTitle {
   color: inherit;
}

#dialogLogonBanner .title {
   text-align:left;
   margin:0px 30px 0px 30px;
   font-family:Arial;
   font-size:20px;
   color:#44535f;
}

#bg-banner:after {
  content:'';
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  background: url('../../resources/img/bg-static.png') no-repeat 0 0;
  background-size: 100% auto;
  height:100%;
  min-width: 65%;
}

.close-button {
   position: absolute;
   top: 15px;
   right: 15px;
   cursor: pointer;
}

.close-button:hover {
	box-shadow: 0 0 10px #b2c0cc;
}

#dialogLogonBanner pre {
   text-align:left;
   margin:25px 30px 25px 30px;
   font-family:Arial;
   font-size:13px;
   color:#414b57;
   line-height:16px;
}


#rsaamdID {
   clear:both;
   float:right;
   width:248px;
   text-align:left;
   margin-top:8px;
}

#checkboxLabel {
    display: block;
    padding-left: 20px;
    text-indent: -20px;
}

#sspiCheckbox {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    margin-right:10px;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    left: 5px;
    *overflow: hidden;
}

#loginButtonRow {
   clear: both;
   margin-top:40px;
}

#smartcardCheckbox {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    margin-right:10px;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    left: 5px;
    *overflow: hidden;
}

#rsaamCheckbox {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    margin-right:10px;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    left: 5px;
    *overflow: hidden;
}

#logonBannerCheckbox {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    margin-right:2px;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    left: 0px;
    *overflow: hidden;
}

.button {
   display: inline-block;
    padding: 6px 12px;
    width:100%;
    height:36px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
   color: #fff;
   background-color: #337ab7;
   border-color: #2e6da4;
   text-transform: uppercase;
}
.button:hover {
   text-decoration: none;
}
.button:active {
   position: relative;
   top: 1px;
}

.button:after {
  content:"LOG IN";
}

.blue {
}
.blue:hover {
   background: #007ead;
   background: -webkit-gradient(linear, left top, left bottom, from(#0d84dc), to(#004d88));
   background: -moz-linear-gradient(top,  #0d84dc,  #004d88);
   filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d84dc', endColorstr='#004d88');
}
.blue:active {
   color: #fff;
   background: -webkit-gradient(linear, left top, left bottom, from(#035a9d), to(#086fba));
   background: -moz-linear-gradient(top,  #035a9d,  #086fba);
   filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#035a9d', endColorstr='#086fba');
}

#username:disabled,
#password:disabled,
#submit:disabled,
#sspiCheckbox:disabled {
   opacity:0.3;
   filter:alpha(opacity=30); /* For IE8 and earlier */
}

#smartcardCheckbox:disabled {
   opacity:0.3;
   filter:alpha(opacity=30); /* For IE8 and earlier */
}

#logonBannerCheckbox:disabled {
   opacity:0.3;
   filter:alpha(opacity=30); /* For IE8 and earlier */
}

#productName {
   position: absolute;
   top: 100px;
   left:96px;
   width:400px;
   word-wrap: break-word;
}

#response {
    background: url(../../resources/img/error_red.png) left center no-repeat;
    background-size: 20px auto;
    color: #A32100;
    background-color: #F5DBD9;
    font-size: 13px;
    padding-left: 20px;
    line-height: 24px;
    vertical-align: middle;
    border-radius: 5px;
    background-position-y: 2px;
}

#progressBar {
   display: none;
}

.footer {
   background-color: black;
   position: absolute;
   left: 0px;
   right: 0px;
   bottom: 0px;
   font-weight: bold;
   padding: 10px;
   color: #7B7E81;
   padding-left: 44px;
   display:none;
}

.footer a {
   color : #7B7E81;
   text-decoration: none;
}

.footer a:hover{
   text-decoration: underline;
}

.info-icon {
   display: inline-block;
   width: 16px;
   height: 16px;
   line-height: 16px;
   vertical-align: middle;
   background-repeat: no-repeat;
   margin: 0px 4px 0;
   position: relative;
   background-image: url(../../resources/img/infoOver.png);
   cursor: pointer;
}

.ui-widget {
   border: 1px solid #91a0aa;
   border-radius: 0px;
}

.ui-widget-content {
   background-color: #FFFFFF;
   margin-top: 25px;
}

.ui-dialog-titlebar {
	background-color: #FFFFFF;
	border: none;
}

.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}