[Unit]
Description=Lightwave Server Configuration Service
After=syslog.target network.target lwsmd.service
Requires=lwsmd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/vmware/bin/configure-lightwave-server --config-file /var/lib/vmware/config/lightwave-server.cfg

[Install]
WantedBy=multi-user.target
