<?xml version="1.0" encoding="UTF-8" ?>
<configuration name="websso-test" status="OFF">
    <appenders>
        <Console name="CA" target="SYSTEM_OUT">
          <PatternLayout pattern="%-4r [%t] %-5p %c %x - %m%n"/>
        </Console>
    </appenders>
    <loggers>
      <root>
        <level value="DEBUG" />
        <appender-ref ref="CA" />
      </root>
    </loggers>
</configuration>
