<div class="login-wrapper">
    <form class="login">
        <div class="login-group">
            <input #tenant class="username" type="text" id="tenant" placeholder="Tenant">
            <input #username class="username" type="text" id="login_username" placeholder="Username">
            <input #password class="password" type="password" id="login_password" placeholder="Password">
            <div class="checkbox">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">
                    Remember me
                </label>
            </div>
            <div *ngIf="authFailed" class="error active">
                Authentication failed
            </div>
            <button class="btn btn-primary" (click)="login($event, tenant.value, username.value, password.value)">Login</button>
        </div>
    </form>
</div>
<router-outlet></router-outlet>
