@charset "UTF-8";

html{color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%}
legend{color:#000}

/*----------BASIC STYLES----------------*/
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height:200%;
}

a:link {color:#336699; text-decoration:none;}

a:hover {color:#336699; text-decoration:underline;}

a:active {color:#0000FF;}

h1 {
	font-weight: bold;
}

/*----------/BASIC STYLES---------------*/



#header {
    background: #3886c5;
}

.forAdmins {
	float: right;
	background: #e7e7e7;
	padding: 20px;
	width: 350px;
}

.gettingStarted {
	float: left;
	width: 350px;
	padding: 20px;
}

.information {
	float: left;
	padding: 20px;
    margin-right: 100px
}

.GSimage {
	float: left;
	background-image: url(../img/What-is-a-VCserver.png);
	height: 250px;
	width: 299px;
	display: block;
	margin-top: 20px;
}

#copyRight {
	color: #7F7F7F;
	font-size: 11px;
	line-height: 160%;
	clear: both;
	width: 900px;
	margin: 60px 20px 20px 20px;
	padding-top: 60px;
    position: absolute;
    bottom: 0;
}

