%form{ :action => "", :method => "post"}
  %fieldset
    %ul
      %li
        %label{:for => "source"} Source Server IP/Hostname:
        %input{:type => "text", :name => "source", :class => "text"}
      %li
        %label{:for => "target"} Target server IP/Hostname:
        %input{:type => "text", :name => "target", :class => "text"}
      %li
        %select{:name => 'os_type'}
          %option{:value => "windows"} Windows
          %option{:value => "linux"} Linux
    %input{:type => "submit", :value => "Merge", :class => "button"}
