<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Definitions.wxi ?>
	<Fragment>
		<!-- TODO: Put your code here. -->
    <ComponentGroup Id="VMCA_comp_group" Directory="APPLICATIONFOLDER">
      <Component Id="vmca_msc_comp" Guid="{2C94E51B-1E9C-4573-AE90-F4372FACDA8C}" Win64="yes">
        <File Id="vmca_msc_file"
              Name="VMCA.msc"
              KeyPath="yes"
              DiskId="1"
              Source="$(var.Resources)/VMCA.msc" />
      </Component>
      <Component Id="VMCA_Client_Dll_Comp" Guid="{CF8EB1D9-06FE-4f21-A430-DE6BFEF53D1C}" Win64="yes">
        <File Id="VMCA_Client_Dll_File"
              Name="VMCA.Client.dll"
              KeyPath="yes"
              Assembly=".net"
              AssemblyManifest="VMCA_Client_Dll_File"
              AssemblyApplication="VMCA_Client_Dll_File"
              DiskId="1"
              Source="$(var.VMIDPOutDir)\VMCA.Client.dll" />
      </Component>
      <Component Id="VMCA_Common_Dll_Comp" Guid="{A6A037E6-7473-4C6B-98CD-4EEDD0ECDC9C}" Win64="yes">
        <File Id="VMCA_Common_Dll_File"
              Name="VMCA.Common.dll"
              KeyPath="yes"
              Assembly=".net"
              AssemblyManifest="VMCA_Common_Dll_File"
              AssemblyApplication="VMCA_Common_Dll_File"
              DiskId="1"
              Source="$(var.VMIDPOutDir)\VMCA.Common.dll" />
      </Component>
      <Component Id="VMCASnapIn_Dll_Comp" Guid="{7D49559E-90A2-995B-EDEA-B25DBDB6621C}" Win64="yes">
        <File Id="VMCASnapIn_Dll_File"
              Name="VMCASnapIn.dll"
              KeyPath="yes" Assembly=".net"
              AssemblyManifest="VMCASnapIn_Dll_File"
              AssemblyApplication="VMCASnapIn_Dll_File"
              DiskId="1"
              Source="$(var.VMIDPOutDir)\VMCASnapIn.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="VMCA_reg_comp_group" Directory="TARGETDIR">
      <Component Id="Reg_VMCA_Comp" Guid="{84BD6D10-7605-429A-9FB9-CEF88739612F}" Win64="yes">
        <RegistryKey Id="Reg_VMCA_Key"
                     Action="createAndRemoveOnUninstall"
                     Key="Software\Microsoft\MMC\SnapIns\FX:{d2608952-f746-496c-bcde-a0a91277f711}"
                     Root="HKLM">
          <RegistryKey Key="Standalone"
                       Action="createAndRemoveOnUninstall" />
          <RegistryKey Key="NodeTypes"
                       Action="createAndRemoveOnUninstall" />
          <RegistryValue Name="RuntimeVersion"
                         Value="v2.0.50727"
                         Type="string" />
          <RegistryValue Name="UseCustomHelp"
                         Value="0"
                         Type="integer" />
          <RegistryValue Name="ModuleName"
                         Value="VMCASnapIn.dll"
                         Type="string"
                         KeyPath="yes"/>
          <RegistryValue Name="NameString"
                         Value="VMware certificate server"
                         Type="string" />
          <RegistryValue Name="ApplicationBase"
                         Value="[APPLICATIONFOLDER]"
                         Type="expandable" />
          <RegistryValue Name="About"
                         Value="{00000000-0000-0000-0000-000000000000}"
                         Type="string" />
          <RegistryValue Name="Description"
                         Value="VMware certificate server"
                         Type="string"  />
          <RegistryValue Name="FxVersion"
                         Value="3.0.0.0"
                         Type="string" />
          <RegistryValue Name="Type"
                         Value="VMCASnapIn.VMCASnapIn, VMCASnapIn, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                         Type="string" />
          <RegistryValue Name="AssemblyName"
                         Value="VMCASnapIn"
                         Type="string" />
        </RegistryKey>
      </Component>
    </ComponentGroup>

	</Fragment>
</Wix>