<div class="popup-container">
    <div class="header-20px">
        View Identity Provider '{{
        vm.selectedIdentityProvider.entityID.length > 25 ?
        vm.selectedIdentityProvider.entityID.substring(0,25) + '...' :
        vm.selectedIdentityProvider.entityID;
        }}'
    </div>
    <div class='error' ng-show="globals.errors">
        <img src="../app/assets/error.png" width="16px" height="16px"/>
        <button type="button"
                class="btn btn-xs btn-link pull-right"
                ng-click="globals.errors = null;">X
        </button>
        {{globals.errors.details}} {{globals.errors.cause}}
    </div>
    <div class="row content popup-content">
        <div class="col-xs-12 popup-row">
            <div class="col-xs-4">
                    ID
            </div>
            <div class="col-xs-8">
                {{vm.selectedIdentityProvider.entityID}}
            </div>
        </div>
        <div class="col-xs-12 popup-row">
            <div class="col-xs-4">
                    Alias
            </div>
            <div class="col-xs-8">
                {{vm.selectedIdentityProvider.alias}}
            </div>
        </div>
        <div class="col-xs-12 popup-row">
            <div class="col-xs-4">
                    JIT Enabled?
            </div>
            <div class="col-xs-8">
                <img src="../app/assets/enabled.png"
                       width="16px"
                       height="16px"
                       ng-show="vm.selectedIdentityProvider.jitEnabled"
                       style="margin-top:-5px;"/>
                <img src="../app/assets/disabled.png"
                     width="16px"
                     height="16px"
                     ng-show="!vm.selectedIdentityProvider.jitEnabled"
                     style="margin-top:-5px;"/>
            </div>
        </div>
        <div class="col-xs-12 popup-row">
            <div class="col-xs-4">
                    Name ID Format
            </div>
            <div class="col-xs-8">
                <div ng-show="!vm.selectedIdentityProvider.nameIDFormats">
                    No name ID format specified
                </div>
                <div ng-repeat="nameIDFormat in vm.selectedIdentityProvider.nameIDFormats"
                     ng-show="vm.selectedIdentityProvider.nameIDFormats">
                        {{nameIDFormat}}
                </div>
            </div>
        </div>
        <div class="col-xs-12 popup-row">
            <div class="col-xs-4">
                    Subject Format
            </div>
            <div class="col-xs-8">
                    <div ng-show="!vm.selectedIdentityProvider.subjectFormats">
                        No subject format specified
                    </div>
                    <div ng-repeat="subjectFormat in vm.selectedIdentityProvider.subjectFormats"
                         ng-show="vm.selectedIdentityProvider.subjectFormats">
                            {{subjectFormat.name}} ({{subjectFormat.value}})
                    </div>
            </div>
        </div>
        <div class="col-xs-12 popup-row">
            <div class="col-xs-4">
                    Certificates
            </div>
            <div class="col-xs-8">
                <div ng-show="!vm.selectedIdentityProvider.signingCertificates">
                No certificates specified
            </div>
                <div ng-repeat="certificate in vm.selectedIdentityProvider.signingCertificates"
                     ng-show="vm.selectedIdentityProvider.signingCertificates">
                    {{ certificate.subject }}
                </div>
            </div>
        </div>
        <div class="col-xs-12 popup-row">
            <div class="col-xs-4">
                SSO Services
            </div>
            <div class="col-xs-8">
                <div ng-show="!vm.selectedIdentityProvider.ssoServices">
                    No SSO Services specified
                </div>
                <div ng-repeat="sso in vm.selectedIdentityProvider.ssoServices"
                     ng-show="vm.selectedIdentityProvider.ssoServices">
                        {{sso.name}}  - {{sso.endpoint}} ({{sso.binding}})
                </div>
            </div>
        </div>
        <div class="col-xs-12 popup-row">
            <div class="col-xs-4">
                    SLO Services
            </div>
            <div class="col-xs-8">
                <div ng-show="!vm.selectedIdentityProvider.sloServices">
                    No SLO Services specified
                </div>
                <div ng-repeat="slo in vm.selectedIdentityProvider.sloServices"
                     ng-show="vm.selectedIdentityProvider.sloServices">
                    {{slo.name}} - {{ slo.endpoint }} ({{slo.binding}})
                </div>
            </div>
        </div>
    </div>
</div>