div.scrollable {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    box-sizing: border-box;
    white-space: nowrap;
    overflow-x: auto;
}

div.signpost-flex-wrap{
    width: 450px !important;
}

.user-menu-large {
    padding: 0 0 0 18px;
    width: auto;
    text-align: right;
    font-size: .9em;
    line-height: 1.3em;
}
td.scrollable {
    float:left;
    height:100%;
    overflow:auto;
}
.modal-body{
    overflow-y:hidden;
}
#daclgrid .datagrid-overlay-wrapper{
    min-height:auto !important;
}
.dropdown .dropdown-toggle.btn {
    max-width:100%;
}
/*.table.table-vertical th:first-child{
    font-weight:400 !important;
    background-color:white !important;
}*/
.clr-treenode-link{
    height:auto !important;
}
#fluid {
	margin-left: 40%; /* The size of the fixed block. */
	}
#fixed-width {
	float: left;
	width: 250px; /* The size of the fixed block. */
	}
html, body {
    height: 100%;
}
.flex-item{
    flex-grow: 1;
}
#left {
    width: 20%;
    height: 100%;
    position: fixed;
}
#right {
    width: 80%;
    height: auto;
    position: relative;
    right: 0;
}
div.scrollable {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    box-sizing: border-box;
    white-space: nowrap;
    overflow-x: auto;
}

div.signpost-flex-wrap{
    width: 450px !important;
}

.user-menu-large {
    padding: 0 0 0 18px;
    width: auto;
    text-align: right;
    font-size: .9em;
    line-height: 1.3em;
}
td.scrollable {
    float:left;
    height:100%;
    overflow:auto;
}

#daclgrid .datagrid-overlay-wrapper{
    min-height:auto !important;
}
.modal-mody{
    overflow-y:hidden;
}
.modal-content-wrapper{
    overflow-y:auto;
    height:100%;
}
.dropdown .dropdown-toggle.btn {
    max-width:100%;
}
/*.table.table-vertical th:first-child{
    font-weight:400 !important;
    background-color:white !important;
}*/
.clr-treenode-link{
    height:auto !important;
}
#fluid {
        margin-left: 40%; /* The size of the fixed block. */
        }

.fixed-bottom{
    text-align:center;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding-bottom:15px
}
#fixed-width {
        float: left;
        width: 250px; /* The size of the fixed block. */
        }
html, body {
    height: 100%;
}
