common/VMCA.Client/obj/
common/VMCA.Common/obj/
common/VMCertStore.Client/obj/
common/VMCertStore.Common/obj/
common/VMDNS.Common/obj
common/VMDir.Common/obj/
common/VMIdentity.CommonUtils/VMIdentity.CommonUtils.dll.config
common/VMIdentity.CommonUtils/obj/
common/VMPSCHighAvailability.Common/obj/
common/VMRestSso.Common/RestSsoAdminSnapIn.Core/Web/HttpWebRequestManager.cs.bak
common/VMRestSso.Common/RestSsoAdminSnapIn.Core/obj/
common/VMRestSso.Common/RestSsoAdminSnapIn.Data/obj/
common/VMRestSso.Common/RestSsoAdminSnapIn.Dto/RestSsoAdminSnapIn.Dto.csproj.user
common/VMRestSso.Common/RestSsoAdminSnapIn.Dto/obj/
common/VMRestSso.Common/RestSsoAdminSnapIn.Service/obj/
common/x64/
interop/
mac/VMCASnapIn/LightwaveCA.userprefs
mac/VMCASnapIn/obj/
mac/VMCertStoreSnapIn/LightwaveCertStore.userprefs
mac/VMCertStoreSnapIn/VMCertStoreSnapIn/obj/
mac/VMDirSnapIn/Lightwave Directory.userprefs
mac/VMDirSnapIn/VMDirSnapIn/obj/
mac/VMPSCHighAvailabilitySnapIn/Lightwave PSC Site Management.userprefs
mac/VMPSCHighAvailabilitySnapIn/LightwavePSCHighAvailability/obj
mac/VMRestSsoSnapIn/Lightwave SSO.userprefs
mac/VMRestSsoSnapIn/VMRestSsoSnapIn/obj/
mac/VmIdentity.UI.Common/obj/
mac/x64/
mmc/
win/VMCASnapIn/VMCASnapIn.v12.suo
win/VMCASnapIn/VMCASnapIn/obj/
win/VMCertStoreSnapIn/VMCertStoreSnapIn.v12.suo
win/VMCertStoreSnapIn/VMCertStoreSnapIn/obj/
win/VMDNSSnapIn/VMDNSSnapIn/obj
win/VMDirSchemaSnapIn/VMDirSchemaSnapIn/obj
win/VMDirSnapIn/VMDirSnapIn.userprefs
win/VMDirSnapIn/VMDirSnapIn.v12.suo
win/VMDirSnapIn/VMDirSnapIn/obj/
win/VMIdentityToolsInstaller/VMIdentityToolsInstaller.v12.suo
win/VMIdentityToolsInstaller/VMIdentityToolsInstaller/obj/
win/VMIdentityToolsPrerequisite/VMIdentityToolsPrerequisite/bin/
win/VMIdentityToolsPrerequisite/VMIdentityToolsPrerequisite/obj/
win/VMPscHighAvailabilitySnapIn/VMPscHighAvailabilitySnapIn.v12.suo
win/VMPscHighAvailabilitySnapIn/VMPscHighAvailabilitySnapIn/VMPscHighAvailabilitySnapIn.csproj.user
win/VMPscHighAvailabilitySnapIn/VMPscHighAvailabilitySnapIn/obj/
win/VMRestSsoAdminSnapIn/RestSsoAdminSnapIn.v12.suo
win/VMRestSsoAdminSnapIn/RestSsoAdminSnapIn/obj/
win/VMwareMMCIDP.UI.Common/obj
win/logs
win/wininstaller/VMIdentityTools_Installer/obj
win/wininstaller/VMIdentityTools_Prerequisite/obj
win/wininstaller/VMIdentityTools_Standalone/obj
win/wininstaller/wininstaller.v12.suo
win/x64/
x64
