<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="appSettings"
             type="System.Configuration.AppSettingsSection"/>
  </configSections>
  <appSettings>
    <add key="tenant" value="lightwave.local"/>
    <add key="caRoot" value="Lightwave CA Servers"/>
    <add key="csRoot" value="Lightwave Certificate Servers"/>
    <add key="dirRoot" value="Lightwave Directory Servers"/>
    <add key="pscRoot" value="Lightwave Servers"/>
    <add key="ssoRoot" value="Lightwave SSO Servers"/>
    <add key="dnsRoot" value="Lightwave Domain Name Server"/>
    <add key= "schemaRoot" value="Lightwave Directory Schema"/>
	<add key="product" value="lightwave"/>
  </appSettings>
</configuration>