<?xml version="1.0" encoding="utf-8" ?>
<!--check-->
<configuration>
  <configSections>
    <section name="appSettings"
             type="System.Configuration.AppSettingsSection"/>
  </configSections>
  <appSettings>
    <add key="tenant" value="vsphere.local"/>
    <add key="caRoot" value="VMware CA Servers"/>
    <add key="csRoot" value="VMware Certificate Servers"/>
    <add key="dirRoot" value="VMware Directory Servers"/>
    <add key="pscRoot" value="VMware Servers"/>
    <add key="ssoRoot" value="VMware SSO Servers"/>
    <add key="dnsRoot" value="VMware Domain Name Server"/>
	<add key="product" value="vsphere"/>
  </appSettings>
</configuration>